body {
  font-weight: 200;
  font-family: sans-serif;
}

h1, h2, h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 40px;
}

.movie-card img {
  width: 100%;
  transform: scale(.9);
  transition: transform .5s;
  height: 370px;
  object-fit: cover;
}

.movie-card img:hover {
  transform: scale(1);
}